@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* ------------- Raiz com Variáveis --------------- */
:root{
    --color1: #F7F7F7;
    --color2: #80AAA8;
    --color3: #025955;
    --color4: #015450;
}

/* ------------- Configuralções gerais --------------- */

*{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
    color: var(--color4);
    margin: 0;
    padding: 0;
}

main{
    margin: auto;
    height: 81vh;
}

/* ------------- Cabeçalho --------------- */
header{
    height: 96px;
    position: relative;
}

header h1{
    font-weight: 300;
    font-size: 32px;
    background-color: #FFFF;
    width: 210px;
    left: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    
}

.menu{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 2%;
    
}

.menu a{
    padding: 10px;
    text-decoration: none;
    font-weight: 360;
}

/* ------------- Conteúdo Principal --------------- */

.principal{
    background-color: var(--color4);
    height: 520px;
    display: block;
    position: relative;
}
.principal h1{
    color: #FFFF;
    font-size: 3.2em;
    position: absolute;
    top: 50%;
    left: 15rem;

}
.principal p{
    color: #FFFF;
    width: 25em;
    position: absolute;
    top: 30%;
    right: 25em;
    line-height: 1.8em;

}
#linha{
    width: 4em;
    border: 1px solid #FFFF;
    position: absolute;
    top: 48%;
    right: 45.9em;
}
.principal ul{
    list-style: none;
    position: absolute;
    right: 26.9em;
    top: 50%;
    columns: 2;
}
.principal ul li button{
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    margin: 3px 0px 10px 0px;
    border-radius: 5px;
    border: 0px;
    transition: .5s;
}
.principal ul li button:hover{
    color: #FFFF;
    background-color: var(--color2);
}

/* ------------- Rodapé --------------- */

footer  {
    text-align: center;
}